{% extends "admin/widgets.html" %}

{% block ckeditor_widget %}
    {{ block.super }}
    <script type="text/javascript">
        CKEDITOR.on('instanceReady', function (event) {
            var editor = event.editor;
            editor.on('paste', function (evt) {
                setTimeout(function () {
                    var imgs = CKEDITOR.instances['{{id}}'].document.$.getElementsByTagName('img');
                    for (var i = 0; i < imgs.length; i++) {
                        imgs[i].classList.add('img-fluid');
                    }
                }, 0);
            });
        });
    </script>
{% endblock %}
